// Place all the styles related to the AutoParts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
	text-align: center;
	font-weight: 900;
	font-size: 40px;
	font-family: Droid Sans Mono;
	text-decoration: outline;
}

#table {
	font-weight: bold;
	font-family: Georgia;
}



p.pic {
	text-align: center;
    margin: 0 auto;
}